.card {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem; //to make it work in mozilla firefox
  height: 50rem;

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: $color-white;
    transition: all .8s ease;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--front {
      background-color: $color-white;
      
    }
    &--back {
      transform: rotateY(180deg);

      &-1{
          background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }
    }
  }
  &:hover &__side--front {
    transform: rotateY(180deg);
  }
  &:hover &__side--back {
      transform: rotateY(0);
  }
}
